${header}

<div class="container">
    <div class="row">
        <div class="col-sm-2">
            <h3><a href="/"></a></h3>
            <a href="/user/signup">Signup</a> or <a href="/user/login">Login</a>
        </div>
        <div class="col-sm-8">
            <h2>Welcome ${username}! This is where we work.</h2>
            <p></p>
        </div>
        <div class="col-sm-2">
            <h6></h6>
            <button type="button" onclick="alert('Login')">Logout</button>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-sm-3">
            <h5><a href="/">Language</a></h5>
            <p>[Dropdown Menu]</p>
        </div>
        <div class="col-sm-6">
            <h3><a href="/">Asian Non Governmental Organization</a></h3>
            <p>(ANGO)</p>
        </div>
        <div class="col-sm-3">
            <button type="button" onclick="alert('Donate')">Donate Now</button>
            <p>[Jump to donation page]</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            <ul class="col-sm">
                <li><a href="/A">A</a></li>
                <li><a href="/Afghanistan">Afghanistan</a></li>
                <li><a href="/Armenia">Armenia</a></li>
                <li><a href="/Azerbaijan">Azerbaijan</a></li>
                <li><a href="/B">B</a></li>
                <li><a href="/Bahrain">Bahrain</a></li>
                <li><a href="/Bangladesh">Bangladesh</a></li>
                <li><a href="/Bhutan">Bhutan</a></li>
                <li><a href="/Brunei">Brunei</a></li>
                <li><a href="/C">C</a></li>
                <li><a href="/Cambodia">Cambodia</a></li>
                <li><a href="/China">China</a></li>
                <li><a href="/Cyprus">Cyprus</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="col-sm">
                <li><a href="/G">G</a></li>
                <li><a href="/Georgia">Georgia</a></li>
                <li><a href="/I">I</a></li>
                <li><a href="/India">India</a></li>
                <li><a href="/Indonesia">Indonesia</a></li>
                <li><a href="/Iran">Iran</a></li>
                <li><a href="/Iraq">Iraq</a></li>
                <li><a href="/Israel">Israel</a></li>
                <li><a href="/J">J</a></li>
                <li><a href="/Japan">Japan</a></li>
                <li><a href="/Jordan">Jordan</a></li>
                <li><a href="/K">K</a></li>
                <li><a href="/Kazakhstan">Kazakhstan</a></li>
                <li><a href="/Kuwait">Kuwait</a></li>
                <li><a href="/Kyrgyzstan">Kyrgyzstan</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="col-sm">
                <li><a href="/L">L</a></li>
                <li><a href="/Laos">Laos</a></li>
                <li><a href="/Lebanon">Lebanon</a></li>
                <li><a href="/M">M</a></li>
                <li><a href="/Malaysia">Malaysia</a></li>
                <li><a href="/Maldives">Maldives</a></li>
                <li><a href="/Mongolia">Mongolia</a></li>
                <li><a href="/Myanmar">Myanmar (formerly Burma)</a></li>
                <li><a href="/N">N</a></li>
                <li><a href="/Nepal">Nepal</a></li>
                <li><a href="/North Korea">North Korea</a></li>
                <li><a href="/O">O</a></li>
                <li><a href="/Oman">Oman</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="col-sm">
                <li><a href="/P">P</a></li>
                <li><a href="/Pakistan">Pakistan</a></li>
                <li><a href="/Philippines">Philippines</a></li>
                <li><a href="/Q">Q</a></li>
                <li><a href="/Qatar">Qatar</a></li>
                <li><a href="/R">R</a></li>
                <li><a href="/Russia">Russia</a></li>
                <li><a href="/S">S</a></li>
                <li><a href="/Saudi Arabia">Saudi Arabia</a></li>
                <li><a href="/Singapore">Singapore</a></li>
                <li><a href="/South Korea">South Korea</a></li>
                <li><a href="/Sri Lanka">Sri Lanka</a></li>
                <li><a href="/Syria">Syria</a></li>
            </ul>
        </div>
        <div class="col-sm">
            <ul class="col-sm">
                <li><a href="/T">T</a></li>
                <li><a href="/Taiwan">Taiwan</a></li>
                <li><a href="/Tajikistan">Tajikistan</a></li>
                <li><a href="/Thailand">Thailand</a></li>
                <li><a href="/Timor-Leste">Timor-Leste</a></li>
                <li><a href="/Turkey">Turkey</a></li>
                <li><a href="/Turkmenistan">Turkmenistan</a></li>
                <li><a href="/U">U</a></li>
                <li><a href="/(UAE)">United Arab Emirates (UAE)</a></li>
                <li><a href="/Uzbekistan">Uzbekistan</a></li>
                <li><a href="/V">V</a></li>
                <li><a href="/Vietnam">Vietnam</a></li>
                <li><a href="/Y">Y</a></li>
                <li><a href="/Yemen">Yemen</a></li>
            </ul>
        </div>
    </div>
</div>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">

${footer}